.users {
  padding: 60px 60px;
}

.usersItem {
  max-width: 550px;
  padding: 30px 40px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 16px;
  color: #707C97;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.14);
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.box {
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.userPhoto img {
  width: 100%;
}

.userName {
  font-size: 18px;
  font-weight: 900;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnUser {
  min-width: 82px;
  padding: 12px 14px;
  margin-left: 20px;
  border-radius: 20px;
  font-size: 14px;
  text-transform: lowercase;
  transition: all .3s;
}

.follow {
  color: #2A8BF2;
  background-color: rgba(42, 139, 242, 0.25);;
}

.unfollow {
  color: #FF3366;
  background-color: rgba(255, 51, 102, 0.25);;
}

.pages {
  margin-bottom: 20px;
  display: flex;
  max-width: 1000px;
  overflow: hidden;
}

.pages li + li {
  margin-left: 5px;
}

.page {
  display: inline-block;
  cursor: pointer;
}

.activePage {
  font-weight: 700;
}