.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 32px;
  background-color: rgba(0, 0, 0, .7);
}

.headerLogin,
.headerLoginLink {
  color: #fff;
}

